
  <div class="header">
    <div class="inner-header">
      <h1>This List is Awesome</h1>
      <h2>Why would you want any other List?</h2>
    </div>
  </div>

  <%= render 'form' %>


  <div class="list-holder"><!--start list holder-->

  <% @infos.each do |info| %>
    <div class="item">
      <div class="inner-item">
        <p><a href="<%= info.url %>" target="_blank"><%= info.url %></a></p>
        <p class="description"><%= info.description %></p>
      </div>
    </div>
  <% end %> <!--end of 1st item-->

  </div><!--end of list holder-->



<%= link_to 'New Info', new_info_path %>
